body {
	width: 90%;
	background: white;
	font-family: "Arial", sans-serif;
	text-align: center;
	margin: 0 auto;
	height: 100%;

}

.table {
	border: 3px solid black;	
	margin: 0 auto;
	width: 100%;

}
tr.bottom_bold td{
	border-bottom: 3px solid black;
}

tr.bottom_normal td{
	border-bottom: 1px solid black;
}

td.border_right {
	border-right: 1px solid black;
}

.logo {
	width: 80%;
	height: 80%;
}

.header {

	vertical-align: bottom;
	font-size:15px;

}

.negrito{
	font-weight: bold;
}

.header span{
	font-weight:bold;

	margin-right: 12px;
}