{% extends 'layout.html' %}

{% block content %}
<div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">
            Nova empresa

            </h3>

        </div>
        <div class="box-body">
            {% if form.errors %}
                {% for erro in form.errors %}
                    <p>{{ erro }}</p>
                {% endfor %}
            {% endif %}

             <form action="" method="post" enctype="multipart/form-data">
                 {% csrf_token %}
                <div class="box-body">
                    <div class="form-group">
                        {{ form.nome.label_tag }}
                        {{ form.nome }}
                    </div>
                     <div class="form-group">
                        {{ form.CNPJ.label_tag }}
                        {{ form.CNPJ }}
                    </div>
                    <div class="form-group">
                        {{ form.endereco.label_tag }}
                        {{ form.endereco }}
                    </div>
                    <div class="form-group">
                        {{ form.cep.label_tag }}
                        {{ form.cep }}
                    </div>
                     <div class="form-group">
                        {{ form.municipio.label_tag }}
                         {{ form.municipio }}
                    </div>
                     <div class="form-group">
                        {{ form.estado.label_tag }}
                         {{ form.estado }}
                    </div>
                     <div class="form-group">
                        {{ form.email.label_tag }}
                         {{ form.email }}
                    </div>
                    <div class="form-group">
                        <div id="telefones" class="input-group">
                            <label>Telefones:</label>
                            <input type="text" name="telefone" class="form-control" placeholder="Telefone" \>

                        </div>
                        <div class="pull-right">
                            <a class="btn btn-success pull-right" id="add-telefone" href="#"><i class="fa fa-plus"></i></a>
                        </div>

                    </div>

                </div>

                 <div class="box box-footer">
                    <input type="submit" class="btn btn-success" value="Enviar"/>
                    <a href="{% url 'empresas' page=1 %}" class="btn btn-info">Voltar</a>
                </div>
            </form>


        </div>


    </div>

    </div>

{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function(){
           new dgCidadesEstados({
               cidade: document.getElementById("id_municipio"),
               estado: document.getElementById("id_estado")
           })
        });
        $('#id_cep').mask('00000-000');
        $('input[name="telefone"]').mask('(00)00000-0000');
        $('#id_CNPJ').mask('00.000.000/0000-00')
        $('#add-telefone').click(function(e){
            e.preventDefault();

            $('#telefones').append('<input type="text" style="margin-top:10px" name="telefone" class="form-control" placeholder="Telefone" \>')
            $('input[name="telefone"]').mask('(00)00000-0000');
        });
    </script>

{% endblock %}