{% extends 'layout.html' %}

{% block content %}
    <section class="content-header">
        <h1>Detalhes de Empresa</h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header">
                        <h3>Detalhes</h3>
                    </div>
                    <div class="box-content padded">
                        <table class="table table-bordered table-striped responsive">
                            <tbody>
                            <tr>
                                <td>Nome</td>
                                <td>{{ empresa.nome }}</td>
                            </tr>
                            <tr>
                                <td>Endereco</td>
                                <td>{{ empresa.endereco }}</td>
                            </tr>
                            <tr>
                                <td>CEP</td>
                                <td>{{ empresa.cep }}</td>
                            </tr>
                            <tr>
                                <td>Município</td>
                                <td>{{ empresa.municipio }}</td>
                            </tr>
                            <tr>
                                <td>Estado</td>
                                <td>{{ empresa.estado }}</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>{{ empresa.email }}</td>
                            </tr>
                            {% if telefones %}
                            <tr>
                            <td>Telefones</td>
                            <td>
                                {% for telefone in telefones %}
                                    <p>
                                {{ telefone.numero }}
                                    </p>
                                {% endfor %}
                            </td>
                            </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                    <div class="box-footer">
                        <a href="{% url 'empresas' page=1 %}" class="btn btn-info">Voltar</a>
                    </div>
                </div>
            </div>
        </div>
    </section>



{% endblock %}