{% extends 'layout.html' %}

{% block content %}
    <section class="content-header">
        <h1>Detalhes do Orçamento</h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header">
                        <h3>Detalhes</h3>
                    </div>
                    <div class="box-content padded">
                        <h1>Vendedor</h1>
                        <table class="table table-bordered table-striped responsive">
                            <tbody>

                               <tr>
                                <td>Nome</td>
                                <td>{{ orcamento.vendedor.nome }}</td>
                            </tr>
                            <tr>
                                <td>Endereco</td>
                                <td>{{ orcamento.vendedor.endereco }}</td>
                            </tr>
                            <tr>
                                <td>CEP</td>
                                <td>{{ orcamento.vendedor.cep }}</td>
                            </tr>
                            <tr>
                                <td>Município</td>
                                <td>{{ orcamento.vendedor.municipio }}</td>
                            </tr>
                            <tr>
                                <td>Estado</td>
                                <td>{{ orcamento.vendedor.estado }}</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>{{ orcamento.vendedor.email }}</td>
                            </tr>
                            <tr>
                                <td>CNPJ</td>
                                <td>{{ orcamento.vendedor.CNPJ }}</td>
                            </tr>

                            {% if telefones %}
                                <tr>
                                    <td>Telefones</td>
                                    <td>
                                        {% for telefone in telefones_vendedor %}
                                            <p>
                                        {{ telefone.numero }}
                                            </p>
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endif %}


                            </tbody>
                        </table>

                    <h1>Comprador</h1>
                        <table class="table table-bordered table-striped responsive">
                            <tbody>

                               <tr>
                                <td>Empresa</td>
                                <td>{{ orcamento.comprador.nome }}</td>
                            </tr>
                            <tr>
                                <td>Endereco</td>
                                <td>{{ orcamento.comprador.endereco }}</td>
                            </tr>
                            <tr>
                                <td>CEP</td>
                                <td>{{ orcamento.comprador.cep }}</td>
                            </tr>
                            <tr>
                                <td>Município</td>
                                <td>{{ orcamento.comprador.municipio }}</td>
                            </tr>
                            <tr>
                                <td>Estado</td>
                                <td>{{ orcamento.comprador.estado }}</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>{{ orcamento.comprador.email }}</td>
                            </tr>
                            {% if telefones %}
                                <tr>
                                    <td>Telefones</td>
                                    <td>
                                        {% for telefone in telefones_comprador %}
                                            <p>
                                        {{ telefone.numero }}
                                            </p>
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endif %}


                            </tbody>
                        </table>


                    <h4>Produtos</h4>
                    <table class="table table-bordered table-striped responsive">
                        <thead>
                            <th>Equipamento</th>
                            <th>Quantidade</th>
                            <th>Valor</th>
                            <th>SubTotal</th>
                        </thead>
                        <tbody>

                        {% for produto in produtos   %}
                            <tr>
                                <td>{{ produto.produto.equipamento }}</td>
                                <td>{{ produto.quantidade }}</td>
                                <td>R$ {{ produto.produto.valor }}</td>
                                <td>R$ {{ produto.total }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                     <h4>Serviços</h4>
                    <table class="table table-bordered table-striped responsive">
                        <thead>
                            <th>Descrição</th>
                            <th>Quantidade</th>
                            <th>Valor</th>
                            <th>SubTotal</th>
                        </thead>
                        <tbody>

                        {% for servico in servicos   %}
                            <tr>
                                <td>{{ servico.servico.descricao }}</td>
                                <td>{{ servico.quantidade }}</td>
                                <td>R$ {{ servico.servico.valor }}</td>
                                <td>R$ {{ servico.total }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="pull-right" style="margin-right:10px;">
                        <h4>Total: R${{ total }}</h4>
                    </div>
                    </div>
                    <div class="box-footer">
                        <a href="{% url 'exportar' orcamento_id=orcamento.id %}" class="btn btn-danger">Exportar PDF</a>
                        <a href="{% url 'orcamentos' page=1 %}" class="btn btn-info">Voltar</a>
                    </div>
                </div>
            </div>
        </div>
    </section>



{% endblock %}