{% extends 'layout.html' %}

{% block content %}
<div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">
            Editar orçamento

            </h3>

        </div>
        <div class="box-body">
            {% if form.errors %}
                {% for erro in form.errors %}
                    <p>{{ erro }}</p>
                {% endfor %}
            {% endif %}

             <form action="" method="post" enctype="multipart/form-data">
                 {% csrf_token %}
                 <input type="hidden" name="tipo" value="{{ form.tipo.value }}" />
                <div class="box-body">
                    <div class="form-group">
                        {{ form.vendedor.label_tag }}
                        {{ form.vendedor }}
                    </div>

                    <div class="form-group">
                        {{ form.comprador.label_tag }}
                        {{ form.comprador }}
                    </div>

                    <div class="form-group">
                        {{ form.proposta.label_tag }}
                        {{ form.proposta }}
                    </div>
                    <div class="form-group">
                        <label>Produtos:</label>
                        <select id="produtos" class="form-control">
                            {% for produto in produtos %}
                            <option valor="{{ produto.valor }}" value="{{ produto.id }}">{{ produto.equipamento }}</option>
                            {% endfor %}
                        </select>
                    <a style="margin-top:10px" id="add-produto" href="#" class="btn btn-success pull-right"><i class="fa fa-plus"></i></a>
                    </div>
                    <h3>Produtos</h3>
                    <table id="tabela-produtos" class="table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>Equipamento</th>
                                <th>Valor</th>
                                <th>Quantidade</th>
                                <th>Ações</th>
                            </tr>
                            {% for produto in produtos_orcamento %}
                                <tr>
                                    <td>{{ produto.produto.equipamento }}</td>
                                    <td>R$ {{ produto.produto.valor }}</td>
                                    <td>
                                        <input value="{{ produto.produto.id }}" type="hidden" name="produtos" />
                                        <input type="number" value="{{ produto.quantidade }}" name="quantidade-produtos" /></td>
                                    <td>
                                        <span onclick="apagar(this);" class="btn btn-danger btn-small"><i class="fa fa-trash-o"></i></span>
                                    </td>
                                </tr>
                            {% endfor %}
                        </thead>
                        <tbody>

                        </tbody>
                    </table>

                    <div style="margin-top:20px" class="form-group">
                        <label>Servicos:</label>
                        <select id="servicos" class="form-control">
                            {% for servico in servicos %}
                            <option value="{{ servico.id }}" valor="{{ servico.valor }}">{{ servico.descricao }}</option>
                            {% endfor %}
                        </select>
                        <a style="margin-top:10px" id="add-servico" href="#" class="btn btn-success pull-right"><i class="fa fa-plus"></i></a>
                    </div>
                    <h3>Serviços</h3>
                    <table id="tabela-servicos" class="table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>Descrição</th>
                                <th>Valor</th>
                                <th>Quantidade</th>
                                <th>Ações</th>
                            </tr>
                             {% for servico in servicos_orcamento %}
                                <tr>
                                    <td>{{ servico.servico.descricao }}</td>
                                    <td>R$ {{ servico.servico.valor }}</td>
                                    <td>
                                        <input value="{{ servico.servico.id }}" type="hidden" name="servicos" />
                                        <input type="number" value="{{ servico.quantidade }}" name="quantidade-servicos" /></td>
                                    <td>
                                        <span onclick="apagar(this);" class="btn btn-danger btn-small"><i class="fa fa-trash-o"></i></span>
                                    </td>
                                </tr>
                            {% endfor %}

                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>

                 <div class="box box-footer">
                    <input type="submit" class="btn btn-success" value="Enviar"/>
                    <a href="{% url 'orcamentos' page=1 %}" class="btn btn-info">Voltar</a>
                </div>
            </form>


        </div>


    </div>

    </div>

{% endblock %}

{% block scripts %}
    <script>
        $('#add-produto').click(function(e){
            e.preventDefault();
            var id = $('#produtos').val();
            var equipamento = $('#produtos option:selected').text();
            var valor = $('#produtos option:selected').attr('valor');
            $('#tabela-produtos tbody').append('<tr><td>'+equipamento+'</td><td>R$ '+valor+'</td><td><input value="'+id+'" type="hidden" name="produtos" /><input type="number" value="1" name="quantidade-produtos" /></td><td><span onclick="apagar(this);" class="btn btn-danger btn-small"><i class="fa fa-trash-o"></i></span></td></tr>')
        });
        $('#add-servico').click(function(e){
            e.preventDefault();
            var id = $('#servicos').val();
            var descricao = $('#servicos option:selected').text();
            var valor = $('#servicos option:selected').attr('valor');
            $('#tabela-servicos tbody').append('<tr><td>'+descricao+'</td><td>R$ '+valor+'</td><td><input type="hidden" value="'+id+'" name="servicos" /><input type="number" value="1" name="quantidade-servicos" /></td><td><span onclick="apagar(this);" class="btn btn-danger btn-small"><i class="fa fa-trash-o"></i></span></td></tr>')
        });


        function apagar(element){
            tr = $(element).parents('tr');
            $(tr).remove();
        }


    </script>
{% endblock %}

