
{% extends 'layout.html' %}

{% block content %}
<section class="content">

<div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Orçamentos</h3>
                <div class="pull-right">
                    <a href="{% url 'criar-orcamento' %}" class="btn btn-success pull-right">
                        <i class="fa fa-plus-circle white"></i>
                        Novo orçamento</a>
                </div>
            </div>

            <!-- /.box-header -->
            <div class="box-body">
            <form action="" method="get">
            <table class="fc-header" style="width: 100%;">
								<tbody>
									<tr style="height: 48px;">
										<td class="fc-header-left" style="width: 10px;"></td>
										<td class="fc-header-center">
											<input class="form-control" id="Search" name="Search" placeholder="Empresa" value="" type="text">
										</td>
										<td class="fc-header-right">
											<input value="Enviar" class="btn bg-olive margin" style="margin: 0px;" type="submit">
										</td>
									</tr>
								</tbody>
							</table>
                </form>
              <div class="dataTables_wrapper form-inline dt-bootstrap" id="example2_wrapper"><div class="row"><div class="col-sm-6"></div><div class="col-sm-6"></div></div><div class="row"><div class="col-sm-12">
              <table aria-describedby="example2_info" role="grid" id="example2" class="table table-bordered table-hover dataTable">
                <thead>
                <tr role="row">
                    <th aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" colspan="1" rowspan="1" aria-controls="example2" tabindex="0" class="sorting_asc">Número</th>
                    <th aria-label="Browser: activate to sort column ascending" colspan="1" rowspan="1" aria-controls="example2" tabindex="0" class="sorting">Data</th>
                    <th>Cliente</th>
                    <th style="text-align: right;" aria-label="Engine version: activate to sort column ascending" colspan="1" rowspan="1" aria-controls="example2" tabindex="0" class="sorting">Ações</th>
                </thead>
                <tbody>
                    {% if orcamentos %}
                        {% for orcamento in orcamentos %}
                        <tr>
                            <td>{{ orcamento.id }}</td>
                            <td>{{ orcamento.pub_data|date:'d/m/Y' }}</td>
                            <td>{{ orcamento.vendedor.nome }}</td>
                           
                            <td>
                            <div class="pull-right">
                                <a href="{% url 'detalhes-orcamento' orcamento_id=orcamento.id %}" class="btn bg-olive btn-small">
                                    <i class="fa fa-search-plus"></i>
                                </a>
                                  <a href="{% url 'editar-orcamento' orcamento_id=orcamento.id %}" class="btn btn-warning btn-small">
                                    <i class="fa fa-edit"></i>
                                </a>

                                <a href="{% url 'apagar-orcamento' orcamento_id=orcamento.id %}" class="btn btn-danger btn-small">
                                    <i class="fa fa-trash-o"></i>
                                </a>


                            </div>
                            </td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td style="text-align:center;" colspan="4">Nenhum item encontrado.</td>
                        </tr>
                    {% endif %}
                </tbody>

              </table>
              <div class="box-footer clearfix no-border">
                  <div style="text-align:center;" class="pagination-container">
                  <ul class="pagination">
                      {% for page in orcamentos.paginator.page_range %}
                      <li class="{% if page == orcamentos.number%}active{% endif %}">
                          
                            <a href="{% url 'orcamentos' page=page %}">{{ page }}</a>
                       
                        </li>
                        {% endfor %}

                    </ul>
                  </div>
              </div>
              </div>
              </div>

            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

        </div>
        <!-- /.col -->
      </div>
</section>
{% endblock %}