<html>
<head>
    {% load staticfiles %}

<meta charset="utf-8">
<title>Orçamento {{ orcamento.id }}{{ orcamento.pub_data|date:'d' }}{{ orcamento.pub_data|date:'m' }}{{ orcamento.pub_data|date:'y' }}</title>
<link rel="stylesheet" href="{% static 'css/estilo.css' %}" />
</head>

<body>
<table class="table">
	<tr class="bottom_bold" rowspan="5">
		<td>
			<img class="logo" src="{% static 'images/logo_fw.png' %}" />
		</td>
		<td colspan="3" class="header">
			<span>ORÇAMENTO - PROPOSTA</span> <span>{{ orcamento.id }}{{ orcamento.pub_data|date:'d' }}{{ orcamento.pub_data|date:'m' }}{{ orcamento.pub_data|date:'y' }}</span>  {{ orcamento.pub_data|date:'d/m' }}
		</td>
		
	</tr>
	<tr class="negrito bottom_normal">
		<td colspan="4">Dados da Empresa</td>
	</tr>
	<tr class="bottom_normal">
		<td colspan="4">{{ orcamento.vendedor.nome }}</td>
	</tr>
	<tr class="bottom_normal">
		<td colspan="4">Endereço: {{ orcamento.vendedor.endereco }}</td>
	</tr>	
	<tr class="bottom_normal">
		<td class="border_right">CEP: {{ orcamento.vendedor.cep }}</td>
		<td class="border_right">Munícipio: {{ orcamento.vendedor.municipio }} </td>
		<td colspan="2">Estado: {{ orcamento.vendedor.estado }}</td>
	</tr>
    <tr class="bottom_normal">
        <td colspan="4">
            CNPJ: {{ orcamento.vendedor.CNPJ }}
        </td>
    </tr>
	<tr class="bottom_bold">
		<td class="border_right">Fones: {{telefones_vendedor}}</td>
		<td class="border_right">Email:</td>
		<td colspan="2">{{ orcamento.vendedor.email }}</td>
	</tr>
	<tr class="bottom_bold">
		<td style="color:white" colspan="4">
		 	text
		</td>
	</tr>
    <tr class="bottom_bold">
        <td colspan="4"></td>
    </tr>
<tr class="negrito bottom_normal">
		<td colspan="4">Cliente</td>
	</tr>
	<tr class="bottom_normal">
		<td colspan="4">{{ orcamento.comprador.nome }}</td>
	</tr>
	<tr class="bottom_normal">
		<td colspan="4">Endereço: {{ orcamento.comprador.endereco }}</td>
	</tr>
	<tr class="bottom_normal">
		<td class="border_right">CEP: {{ orcamento.comprador.cep }}</td>
		<td class="border_right">Munícipio: {{ orcamento.comprador.municipio }} </td>
		<td colspan="2">Estado: {{ orcamento.comprador.estado }}</td>
	</tr>
    <tr class="bottom_normal">
        <td colspan="4">
            CNPJ: {{ orcamento.comprador.CNPJ }}
        </td>
    </tr>
	<tr class="bottom_bold">
		<td class="border_right">Fones: {{telefones_comprador}}</td>
		<td class="border_right">Email:</td>
		<td colspan="2">{{ orcamento.comprador.email }}</td>
	</tr>
	<tr class="bottom_bold">
		<td style="color:white" colspan="4">
		 	text
		</td>
	</tr>
	<tr class="bottom_bold negrito">
		<td colspan="4">
			TIPO DE PROPOSTA:
		</td>
	</tr>
	<tr class="bottom_bold">
		<td colspan="4">
            {% if orcamento.proposta %}
			{{ orcamento.proposta.descricao }}
            {% else %}
            Nenhuma
            {% endif %}
		</td>
	</tr>

    <tr>
        <td colspan="4" style="color:transparent">

        </td>
    </tr>
	<tr class="bottom_normal">
		<td>Equipamento</td>
		<td>Valor</td>
		<td>Qtd</td>
		<td>Total</td>
	</tr>
    {% for produto in produtos %}
        <tr class="bottom_normal">
            <td>{{ produto.produto.equipamento }}</td>
            <td>{{ produto.produto.valor }}</td>
            <td>{{ produto.quantidade }}</td>
            <td>{{ produto.total }}</td>
        </tr>
    {% endfor %}

	<tr>
		<td class="border_right"></td>
		<td colspan="2" class="border_right negrito">TOTAL (R$)</td>
		<td> {{ totalprod }}</td>
	</tr>

    <tr>
        <td colspan="4" style="color:transparent">

        </td>
    </tr>
	<tr class="bottom_normal">
		<td>Descrição</td>
		<td>Valor</td>
		<td>Qtd</td>
		<td>Total</td>
	</tr>

     {% for servico in servicos %}
        <tr class="bottom_normal">
            <td>{{ servico.servico.descricao }}</td>
            <td>{{ servico.servico.valor }}</td>
            <td>{{ servico.quantidade }}</td>
            <td>{{ servico.total }}</td>
        </tr>
    {% endfor %}

	<tr class="bottom_bold">
		<td class="border_right" ></td>
		<td colspan="2" class="border_right negrito">TOTAL (R$)</td>
		<td> {{totalserv }}</td>
	</tr>

	<tr class="bottom_bold">
		<td class="border_right" bgcolor="#C1C1C1"></td>
		<td colspan="2" class="border_right negrito">VALOR A PAGAR (R$)</td>
		<td bgcolor="#C1C1C1"> {{ total }}</td>
	</tr>
	<tr class="bottom_bold">
		<td style="color:transparent" colspan="4">
		 	text
		</td>
	</tr>
	<tr class="bottom_normal">
		<td class="border_right" colspan="3" style="text-align: center; vertical-align: top" rowspan="2">Cliente</td>
		<td>Data:</td>
	</tr>
	<tr class="bottom_normal">
		<td>Assinatura</td>
	</tr>

	<tr class="bottom_normal">
		<td class="border_right" colspan="3" style="text-align: center; vertical-align: top" rowspan="2">FW Tecnologia</td>
		<td>Data:</td>
	</tr>
	<tr class="bottom_normal">
		<td>Assinatura</td>
	</tr>
	
</table>

   

</body>
</html>