{% extends 'layout.html' %}

{% block content %}
    <section class="content-header">
        <h1>Detalhes de Serviço</h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header">
                        <h3>Detalhes</h3>
                    </div>
                    <div class="box-content padded">
                        <table class="table table-bordered table-striped responsive">
                            <tbody>
                            <tr>
                                <td>Descrição</td>
                                <td>{{ servico.descricao }}</td>
                            </tr>
                            <tr>
                                <td>Valor</td>
                                <td>R$ {{ servico.valor }}</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="box-footer">
                        <a href="{% url 'servicos' page=1 %}" class="btn btn-info">Voltar</a>
                    </div>
                </div>
            </div>
        </div>
    </section>



{% endblock %}