{% extends 'layout.html' %}

{% block content %}
<div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">
            Editar produto

            </h3>

        </div>
        <div class="box-body">
            {% if form.errors %}
                {% for erro in form.errors %}
                    <p>{{ erro }}</p>
                {% endfor %}
            {% endif %}

             <form action="" method="post" enctype="multipart/form-data">
                 {% csrf_token %}
                <div class="box-body">
                    <div class="form-group">
                        {{ form.equipamento.label_tag }}
                        {{ form.equipamento }}
                    </div>
                    <div class="form-group">
                        {{ form.valor.label_tag }}
                        {{ form.valor }}
                    </div>

                </div>

                 <div class="box box-footer">
                    <input type="submit" class="btn btn-success" value="Enviar"/>
                    <a href="{% url 'produtos' page=1 %}" class="btn btn-info">Voltar</a>
                </div>
            </form>


        </div>


    </div>

    </div>

{% endblock %}

