
{% extends 'layout.html' %}

{% block content %}
<section class="content">

<div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Produtos</h3>
                <div class="pull-right">
                    <a href="{% url 'criar-produto' %}" class="btn btn-success pull-right">
                        <i class="fa fa-plus-circle white"></i>
                        Novo produto</a>
                </div>
            </div>

            <!-- /.box-header -->
            <div class="box-body">
              <div class="dataTables_wrapper form-inline dt-bootstrap" id="example2_wrapper"><div class="row"><div class="col-sm-6"></div><div class="col-sm-6"></div></div><div class="row"><div class="col-sm-12"><table aria-describedby="example2_info" role="grid" id="example2" class="table table-bordered table-hover dataTable">
                <thead>
                <tr role="row">
                    <th aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" colspan="1" rowspan="1" aria-controls="example2" tabindex="0" class="sorting_asc">Equipamento</th>
                    <th aria-label="Browser: activate to sort column ascending" colspan="1" rowspan="1" aria-controls="example2" tabindex="0" class="sorting">Valor</th>

                    <th style="text-align: right;" aria-label="Engine version: activate to sort column ascending" colspan="1" rowspan="1" aria-controls="example2" tabindex="0" class="sorting">Ações</th>
                </thead>
                <tbody>
                    {% if produtos %}
                        {% for produto in produtos %}
                        <tr>
                            <td>{{ produto.equipamento }}</td>
                            <td>R$ {{ produto.valor }}</td>

                           
                            <td>
                            <div class="pull-right">
                                <a href="{% url 'detalhes-produto' produto_id=produto.id %}" class="btn bg-olive btn-small">
                                    <i class="fa fa-search-plus"></i>
                                </a>
                                <a href="{% url 'editar-produto' produto_id=produto.id %}" class="btn btn-warning btn-small">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a href="{% url 'apagar-produto' produto_id=produto.id %}" class="btn btn-danger btn-small">
                                    <i class="fa fa-trash-o"></i>
                                </a>
                            </div>
                            </td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td style="text-align:center;" colspan="3">Nenhum item encontrado.</td>
                        </tr>
                    {% endif %}
                </tbody>

              </table>
               <div class="box-footer clearfix no-border">
                  <div style="text-align:center;" class="pagination-container">
                  <ul class="pagination">
                      {% for page in produtos.paginator.page_range %}
                      <li class="{% if page == produtos.number%}active{% endif %}">

                            <a href="{% url 'produtos' page=page %}">{{ page }}</a>

                        </li>
                        {% endfor %}

                    </ul>
                  </div>
              </div>
              </div></div>

            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

        </div>
        <!-- /.col -->
      </div>
</section>
{% endblock %}